.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .head {
    flex-direction: column;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
}

.header {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background: #202020;
  padding: 10px 14px;
  border-radius: 10px;
}

.address {
  color: #a0d8ff;
}

.dataBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  min-height: 100%;
}

.item {
  display: flex;
  align-items: center;
  background: #d0d0d0;

  padding: 12px;
  border-radius: 10px;
  transition: background 0.2s ease;
  color: #000;
  &:hover {
    background: #919191;
  }
}

.imgtype {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.textwrap {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h3 {
    font-size: 1rem;
    margin: 0;
  }

  .description {
    font-size: 0.9rem;
  }
}

.noData {
  text-align: center;
  padding: 15px;
  font-size: 1rem;
  color: #999;
}
.content {
  max-width: 80vw;
  min-width: 80vw;
}
.contenthead {
  max-width: 80vw;
  min-width: 80vw;
  min-height: 100%;
}
@media screen and (max-width: 768px) {
  .content {
    max-width: 90vw;
    min-width: 90vw;
  }
}
