:root {
  --background: #ffffff;
  --foreground: #171717;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* min-width: 100vw; */
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
footer {
  margin-top: 20px;
  display: flex;
  padding: 30px;
  color: #505050;
  background-color: #d0d0d0;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
}
.contenttop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}
.foot-wrap {
  width: 60vw;
}
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
