.map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

/* Центрированный блок загрузки */
.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px; /* чтобы совпадало с картой */
  background-color: #f3f3f3;
  color: #444;
  font-size: 16px;
  position: relative;
  border-radius: 8px;
}

/* Круглый спиннер */
.loader {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #0078ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Кластер */
.cluster {
  background: #ff8b46;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
