version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: next_frontend
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_HOST_NAME=localhost:8080
      - INTERNAL_API_URL=nginx:80
    expose:
      - "3000"
    networks:
      - app_network
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi_backend_dev
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    working_dir: /app/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    networks:
      - app_network
    restart: unless-stopped

  redis:
    image: redis:8-alpine
    container_name: redis_dev
    ports:
      - "6379:6379"
    networks:
      - app_network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx_dev
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge
