.map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

/* Центрированный блок загрузки */
.loadingContainer {
  height: 500px; /* чтобы совпадало с картой */
  /* background-color: #f3f3f3; */
  background: url("/mini-map.jpeg") center/cover no-repeat;
  color: #444;
  font-size: 16px;
  position: relative;
  border-radius: 8px;
}

/* Круглый спиннер */
.loader {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #ff6a00;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Кластер */
.cluster {
  background: #ff8b46;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.lable {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: #ffffff;
  font-weight: bold;
  background: rgb(255, 128, 8);
  /* background: linear-gradient(
    135deg,
    rgba(255, 233, 160, 1),
    rgba(239, 113, 22, 1)
  ); */
  border-radius: 10px;
}
.textContainer {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  backdrop-filter: blur(10px);
}
.fullscreenbtn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  border: none;
  color: #000;
  font-size: 1rem;
  line-height: 1rem;
  &:hover {
    cursor: pointer;
  }
}
